.nav-wrap {
    margin: 0px;
    padding: 0px;
    background-color: #dedef5;
    border: 0;
    float: left;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 13px 'opensans-bold', sans-serif;

}
